* {
    margin: 0;
}
.lg-main {
    height: 100vh;
    background-image: url(images/lg.jpg);
    background-size: cover;
    color: #fff;
    display: grid;
    place-items: center;
}
.lg-cover {
    border: 1px solid blue;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(0, 0, 0, 0.542);
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.lg-title {
    background-color: rgba(0, 0, 0, 0.491);
    padding: 20px;
    width: 260px;
    text-align: center;
}
.lg-inp input {
    color: #fff;
    height: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}
.lg-inp input:focus {
    outline: none;
    color: greenyellow;
}
.bttn {
    background-color: blue;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 30px;
}
@media (max-width: 500px) {
    .lg-cover {
        width: 280px;
        padding: 15px 0 15px 0;
    }
    .lg-title {
        width: 200px;
    }
    .bttn {
        width: 190px;
        height: 10px;
    }
}
.main {
    height: 100vh;
}
nav {
    height: 1.5cm;
    background-color: blue;
    display: flex;
    gap: 350px;
    color: red;
    padding-top: 15px;
    padding-left: 20px;
    position: relative;
}
.links {
    display: flex;
}
.links a {
    color: #fff;
    padding: 30px;
    text-decoration: none;
    font-weight: 700;
}
.home-cover {
    margin-top: -2cm;
    height: 16cm;
    background-image: url(images/back.jpg);
    background-size: cover;
    display: grid;
    place-items: center;
    color: #fff;
    text-align: center;
}
#services {
    background-color: green;
    padding-bottom: 3cm;
    margin-top: 20px;
    text-align: center;
}
.service-title {
    height: 3cm;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: grid;
    place-items: center;
}
.box {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.box1,
.box2,
.box3 {
    height: 8cm;
    width: 7cm;
    border-radius: 20px;
}
.box1 {
    background-color: red;
    position: sticky;
    right: 20px;
    z-index: 99;
}
.box2 {
    background-color: aliceblue;
}
.box3 {
    background-color: aliceblue;
}
#about {
    background-color: magenta;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 1cm;
}
.about-title {
    height: 3cm;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: grid;
    place-items: center;
}
.content {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.about-image {
    height: 9cm;
    width: 6cm;
    border-radius: 20px;
    background-image: url(images/about.jpg);
    background-size: cover;
}
.about-text {
    width: 13cm;
    border: 20px;
    background-color: greenyellow;
    margin-top: 2cm;
}
.about-text p::first-letter {
    font-size: 36px;
}
#contact {
    margin-top: 1cm;
    background-color: gold;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 40px 0 40px 0;
}
.contact-form {
    width: 400px;
    padding: 30px;
    display: flex;
    background-color: green;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.contact-title {
    padding: 10px;
    color: #fff;
}
.contact-input input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: none;
}
button {
    padding: 15px;
    width: 250px;
}
.socials {
    display: flex;
    justify-content: space-around;
    outline: 2px solid blue;
}
.contact-title {
    background-color: rgba(0, 0, 0, 0.446);
}
#footer {
    padding: 30px;
    text-align: center;
    background-color: #ff12ff;
}
@media (max-width: 770px) {
    nav a {
        display: none;
    }
    nav {
        gap: 10px;
    }
    .box {
        flex-direction: column;
        margin: 0;
        height: 30cm;
    }
    .box1,
    .box2,
    .box3 {
        margin: auto;
    }
    .content {
        flex-direction: column;
    }
    .content div {
        margin: auto;
    }
    .about-text {
        width: 100vw;
    }
    .contact-form {
        width: 300px;
        padding: 0;
    }
    .contact-input input {
        width: 250px;
    }
}
